@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide {
  0% { transform: translateX(0); }
  33.33% { transform: translateX(-1196px); }
  66.66% { transform: translateX(-2392px); }
  100% { transform: translateX(0); }
}

.animate-slide {
  animation: slide 9s infinite;
}
