@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide {
  0% { transform: translateX(0); }
  33.33% { transform: translateX(-1196px); }
  66.66% { transform: translateX(-2392px); }
  100% { transform: translateX(0); }
}

.animate-slide {
  animation: slide 9s infinite;
}

/*@font-face {*/
/*  font-family: 'Eudoxus Sans';*/
/*  src: url('/fonts/EudoxusSans-Regular.woff2') format('woff2'),*/
/*  url('/fonts/EudoxusSans-Regular.woff') format('woff');*/
/*  font-weight: 400;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Eudoxus Sans';*/
/*  src: url('/fonts/EudoxusSans-Bold.woff2') format('woff2'),*/
/*  url('/fonts/EudoxusSans-Bold.woff') format('woff');*/
/*  font-weight: 700;*/
/*  font-style: normal;*/
/*}*/

/*@font-face {*/
/*  font-family: 'Eudoxus Sans';*/
/*  src: url('/fonts/EudoxusSans-Italic.woff2') format('woff2'),*/
/*  url('/fonts/EudoxusSans-Italic.woff') format('woff');*/
/*  font-weight: 400;*/
/*  font-style: italic;*/
/*}*/

@font-face {
  font-family: 'ClashDisplay';
  src: url('../public/fonts/ClashDisplay-Semibold.ttf') format('truetype');
  font-weight: normal; /* Adjust as needed */
  font-style: italic; /* Adjust as needed */
}

@import url('https://fonts.googleapis.com/css2?family=Clash+Display:wght@400;500;600;700&display=swap');

